<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <div class="container">
      <h1><%= article.title %></h1>
      <p><%= article.text %></p>
      </div>
    </tr>
  <% end %>
</table>


<%= link_to "New Article", new_article_path %>
